.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
    scroll-behavior: smooth;
    overflow-x: clip;
    font-family: sans-serif;
}

.navbar {
    background-color: #000000;
    top: 0;
}

.navbar div a {
    border-radius: 10px;
    padding: 10px;
}

.navbar a {
    border-bottom: 2px solid transparent;
    margin: 0 10px;
}

#navbarNav a:hover {
    border-bottom: 2px solid #F28705;
}

.navbar-brand img {
    width: 9rem;
    height: 3rem;
}

.competitions,
.sponsors {
    width: 16rem;
    height: 14rem;
    font-size: 1.2rem;
    transition: 500ms;
    margin: .5rem;
    border-radius: 1rem;
    border: 2px solid rgb(21, 178, 217, 0.1);
    box-shadow: rgba(7, 129, 165, 0.7) 0px 5px 10px, rgba(18, 147, 186, 0.78) 0px 3px 5px;
}

.competitions>a,
.sponsors>a {
    color: white;
    text-decoration: none;
    transition: 500ms;
}

.competitions>a:hover,
.sponsors>a:hover {
    color: #f07510;
    transition: 500ms;
}

.competitions:hover,
.sponsors:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 500ms;
}

div .parentSponsor {
    height: 300px;
}

.FooterLogos .IITM,
.FooterLogos .CFI,
.FooterLogos .Agnirath {
    width: 4em;
    height: 4em;
}

.FooterLogos .CFI {
    width: 5.5em;
}

.FooterLogos .Agnirath {
    width: 10em;
}

.Linkedin,
.Twitter,
.Instagram,
.Mail {
    width: 2em;
    height: 2em;
    transition: 1s;
}

.Linkedin:hover,
.Twitter:hover,
.Instagram:hover,
.Mail:hover {
    padding: .2em;
    color: #f07510;
    transition: 1s;
}

/********************************************************* Logo CSS **************************************************/
@media screen and (min-width: 444px) {

    .aboutLogo {
        margin-left: 1rem;
        height: 120px;
        width: 300px;
    }

    .visionLogo {
        margin-left: 1em;
        height: 100px;
        width: 300px;
    }

    .competitionsLogo {
        margin-left: 1em;
        height: 120px;
        width: 300px;
    }

    .sponsorsLogo {
        margin-left: 1em;
        height: 100px;
        width: 300px;
    }

    .contactLogo {
        margin-left: 1em;
        height: 120px;
        width: 300px;
    }
}

/* moving the arrow icons to right and left */
.homeArrowMarkRight {
    margin-left: 10em;
}

.homeArrowMarkLeft {
    margin-right: 10em;
}

.contact-email {
    font-size: large;
    text-decoration: none;
    color: #f07510;
    transition: .5s;
}

.navbar-toggler-icon {
    background-color: #f07510;
    border-radius: 5px;
    width: 2em;
    height: 2em;
}

.mobile-css {
    display: none;
}

.teamLogo {
    display: none;
}

.primary {
    display: flex;
}

#home img {
    height: 100vh;
}

.person {
    width: 200px;
    height: 200px;
    margin: 1rem 2rem;
    background-image: url(./images/person.png);
    background-size: cover;
    background-position: center;
    padding: 115px 0 0;
    border-radius: 10%;
    overflow: hidden;
    cursor: pointer;
    display: block;
}

/* Background images for the team section */
.core .person:nth-of-type(1) {
    background-image: url(./images/IMG_20221227_104409\ -\ Rishabh\ Sumit\ Sharma\ na20b051.jpg);
}

.core .person:nth-of-type(2) {
    background-image: url(./images/IMG-20221021-WA0015\ -\ Bindusara\ Reddy\ na20b013.jpg);
}

.core .person:nth-of-type(3) {
    background-image: url(./images/IMG_20210411_151027\ -\ Raaed\ Shajihan\ me20b141.jpg);
}

.mech .person:nth-of-type(1) {
    background-image: url(./images/IMG_20220807_175843\ -\ Ananth\ Kulkarni\ me21b020.jpg);
}

.mech .person:nth-of-type(2) {
    background-image: url(./images/sanjay\ -\ Sanjay\ Keyan\ na21b062.jpg);
}

.mech .person:nth-of-type(3) {
    background-image: url(./images/Pragyan\ -\ Pragyandipta\ Mishra\ am19d751.jpg);
}

.mech .person:nth-of-type(4) {
    background-image: url(./images/1668877814338\ -\ Sreesudhan\ B\ ae21b057.jpg);
}

.mech .person:nth-of-type(5) {
    background-image: url(./images/PHOTO-2022-12-26-07-22-50\ -\ Pradyum\ Kaneria\ me21b142.jpg);
}

.mech .person:nth-of-type(6) {
    background-image: url(./images/agnirath\ -\ Surya\ Sai\ Pranav\ Mantripragada\ me21b203.jpg);
}

.mech .person:nth-of-type(7) {
    background-image: url(./images/IMG_20220227_173838\ -\ Dhruv\ Bawa\ me20b061.jpg);
}

.mech .person:nth-of-type(8) {
    background-image: url(./images/mee\ -\ Akash\ Thakur\ ae21b102.jpg);
}

/* .mech .person:nth-of-type(9) {
    background-image: url(./images/);
} */
.elec .person:nth-of-type(1) {
    background-image: url(./images/IMG_20200113_073744_796\ -\ Jaayanth\ Srrinivas\ Kumaran\ ed21b029.jpg);
}

.elec .person:nth-of-type(2) {
    background-image: url(./images/PHOTO-2022-02-27-15-56-04\ -\ Kunjeti\ Dharanidhar\ Gupta\ ep21b022.jpg);
}

.elec .person:nth-of-type(3) {
    background-image: url(./images/IMG_20220728_132150\ -\ Ram\ Parameswar\ Menon\ ce21b104.jpg);
}

.elec .person:nth-of-type(4) {
    background-image: url(./images/IMG_20211228_125339-01\ -\ Parveet\ Kumar\ ee21b099.jpeg);
}

.elec .person:nth-of-type(5) {
    background-image: url(./images/Pushpa_profile_pic\ -\ Pushpa\ Chaudhary\ ee21b109.jpg);
}

/* .elec .person:nth-of-type(6) {
    background-image: url(./images/);
} */
.spons .person:nth-of-type(1) {
    background-image: url(./images/Chirag\ Meher\ photo\ NA21B019\ -\ Chirag\ Meher\ na21b019.jpeg);
}

.spons .person:nth-of-type(2) {
    background-image: url(./images/79749\ -\ Damyanti\ na21b020.JPEG);
}

/* .spons .person:nth-of-type(3) {
    background-image: url(./images/);
}
.spons .person:nth-of-type(4) {
    background-image: url(./images/);
} */
.spons .person:nth-of-type(5) {
    background-image: url(./images/Sagar.jpeg);
}

.person .content {
    padding: 1rem;
    background: linear-gradient(hsl(0 0% 0% / 0),
            hsl(30 0% 0% / 0) 10%,
            hsl(0 0% 0% / 1));
    text-align: center;
    color: #ffffff;
    transform: translateY(40%);
    transition: transform .5s ease;
}

.person:hover .content {
    transform: translateY(-10%);
}

.person .contact a {
    margin: 0 25px;
}

.teamSection {
    margin: 0 10rem;
}

.about,
.vision>p {
    font-size: larger;
}

#about,
#vision {
    padding: 0 2rem;
}

/* Mobile Design */
@media screen and (max-width: 444px) {
    .mobile-css {
        display: block;
    }

    #home {
        display: none;
    }

    #about,
    #vision,
    #team,
    #competitions,
    #sponsors,
    #contact,
    .FooterLogos {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
    }

    .teamLogo {
        display: block;
    }

    .primary {
        display: none;
    }

    .aboutLogo,
    .visionLogo,
    .teamLogo {
        margin-left: -4rem;
    }

    .aboutLogo,
    .visionLogo,
    .teamLogo,
    .competitionsLogo,
    .sponsorsLogo,
    .contactLogo {
        width: 12rem;
    }

    .about,
    .vision>p {
        padding: 2em 0;
        line-height: 1.5em;
        font-size: 1rem;
    }

    .contact-email {
        padding: 1em;
    }

    .person {
        width: 150px;
        height: 150px;
        margin: .5rem;
        padding: 70px 0 0;
    }

    .person-cards>div:nth-of-type(1),
    .person-cards>div:nth-of-type(5) {
        margin: .5rem;
    }

    .person .content {
        padding: .5rem .1rem;
        background: linear-gradient(hsl(0 0% 0% / 0),
                hsl(30 0% 0% / 0) 10%,
                hsl(0 0% 0% / 1));
        text-align: center;
        color: #ffffff;
        transform: translateY(50%);
        transition: transform .5s ease;
    }

    .person:hover .content {
        transform: translateY(0);
    }

    .person .contact a {
        margin: 0 20px;
    }

    .teamSection {
        margin: 0;
    }

    .footer-text {
        font-size: small;
    }

    .competitions,
    .sponsors {
        width: 8rem;
        height: 7rem;
        margin: 1rem;
        font-size: 1rem;
    }
}