.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: linear-gradient(to bottom right, rgb(253, 0, 0), rgb(48, 3, 3)); */
    background-color: #000000;
    color: white;
    scroll-behavior: smooth;
    overflow-x: clip;
    font-family: sans-serif;
}

.navbar {
    background-color: #000000;
    /* position: fixed;
    top: 0; */
}

.navbar div a {
    border-radius: 10px;
    padding: 10px;
}

.navbar a {
    border-bottom: 2px solid transparent;
    margin: 0 10px;
}

#navbarNav a:hover {
    border-bottom: 2px solid #F28705;
}

.navbar-brand img {
    width: 9rem;
    height: 3rem;
}

div .competitions {
    width: 18rem;
    height: 14rem;
    background-image: url('https://cdn.futura-sciences.com/sources/images/dossier/773/01-intro-773.jpg');
    background-size: cover;
    background-position: center;
    font-size: 1.5rem;
    transition: 500ms;
    margin-right: 2rem;
}

div .competitions:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 500ms;
}

div .competitions>img {
    /* width: 300px;
    height: 200px;
    border-radius: 2rem;
    transition: 500ms; */
    /* background-color: yellow;
    
     */
}

/* div .competitions>img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 500ms;
} */

/* div .competitions p {
    margin-left: 100px;
    transform: skewX(-50deg);
    color: black;
} */

div .parentSponsor {
    /* border: 2px solid white; */
    height: 300px;
}

div .sponsors {
    width: 300px;
    height: 200px;
    background-color: yellow;
    margin-right: 25px;
}

div .sponsors:nth-of-type(1n) {
    align-self: flex-start;
}

div .sponsors:nth-of-type(2n) {
    align-self: flex-end;
}

.FooterLogos .IITM,
.FooterLogos .CFI,
.FooterLogos .Agnirath {
    width: 4em;
    height: 4em;
}

.FooterLogos .CFI {
    width: 5.5em;
}

.FooterLogos .Agnirath {
    width: 10em;
}

.Linkedin,
.Twitter,
.Instagram,
.Mail {
    width: 2em;
    height: 2em;
    transition: 1s;
}

.Linkedin:hover,
.Twitter:hover,
.Instagram:hover,
.Mail:hover {
    padding: .2em;
    color: #f07510;
    transition: 1s;
}

/********************************************************* Logo CSS **************************************************/
@media screen and (min-width: 444px) {

    .aboutLogo {
        margin-left: 1em;
        height: 120px;
        width: 300px;
    }

    .visionLogo {
        margin-left: 1em;
        height: 100px;
        width: 300px;
    }

    .teamLogo {
        margin-left: 1em;
        height: 120px;
        width: 300px;
    }

    .competitionsLogo {
        margin-left: 1em;
        height: 120px;
        width: 300px;
    }

    .sponsorsLogo {
        margin-left: 1em;
        height: 100px;
        width: 300px;
    }

    .contactLogo {
        margin-left: 1em;
        height: 120px;
        width: 300px;
    }
}

/* moving the arrow icons to right and left */
.homeArrowMarkRight {
    margin-left: 10em;
}

.homeArrowMarkLeft {
    margin-right: 10em;
}

.contact-email {
    text-decoration: none;
    color: #f07510;
    transition: .5s;
}

.navbar-toggler-icon {
    background-color: #f07510;
    border-radius: 5px;
    width: 2em;
    height: 2em;
}

.mobile-css {
    display: none;
}

.teamLogo {
    display: none;
}

.primary {
    display: flex;
}

#home {
    min-height: 900px;
}

.person {
    width: 200px;
    height: 200px;
    margin: 1rem 2rem;
    background-image: url(./images/person.png);
    background-size: cover;
    background-position: center;
    padding: 115px 0 0;
    border-radius: 10%;
    overflow: hidden;
    cursor: pointer;
    display: block;
}

.person .content {
    padding: 1rem;
    background: linear-gradient(hsl(0 0% 0% / 0),
            hsl(30 0% 0% / 0) 10%,
            hsl(0 0% 0% / 1));
    text-align: center;
    color: #ffffff;
    transform: translateY(40%);
    transition: transform .5s ease;
}

.person:hover .content {
    transform: translateY(-10%);
    /* transition: transform .5s ease; */
}

.person .contact a {
    margin: 0 25px;
}

.teamSection {
    margin: 0 12rem;
}

/* .vision ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.vision ul:before {
    content: "";
    display: inline-block;
    width: 5px;
    background: #0dec14;
    position: absolute;
    left: 3px;
    top: 7px;
    height: calc(100% - 30px);
}

.vision ul>li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}

.vision li:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: rgb(40, 206, 239);
    position: absolute;
    left: -3px;
    top: 7px;
    border-radius: 10px;
}

.vision {
    flex-direction: row;
    align-items: center;
} */

.about,
.vision>p {
    font-size: larger;
}

/* Mobile Design */
@media screen and (max-width: 444px) {
    .web-css {
        display: none;
    }

    .mobile-css {
        display: block;
    }

    #home {
        min-height: 250px;
    }

    #about,
    #vision,
    #team,
    #competitions,
    #sponsors,
    #contact,
    .FooterLogos {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
    }

    .teamLogo {
        display: block;
    }

    .primary {
        display: none;
    }

    .aboutLogo,
    .visionLogo,
    .teamLogo,
    .competitionsLogo,
    .sponsorsLogo,
    .contactLogo {
        margin-left: -3em;
    }

    .about,
    .vision {
        padding: 2em 0;
        line-height: 1.5em;
    }

    .contact-email {
        margin-left: -5em;
        padding: 1em;
    }

    #competitions,
    #sponsors {
        display: none;
    }

    .person {
        width: 150px;
        height: 150px;
        margin: .5rem;
        padding: 70px 0 0;
    }

    .person-cards>div:nth-of-type(1),
    .person-cards>div:nth-of-type(5) {
        margin: .5rem;
    }

    .person .content {
        padding: .5rem .1rem;
        background: linear-gradient(hsl(0 0% 0% / 0),
                hsl(30 0% 0% / 0) 10%,
                hsl(0 0% 0% / 1));
        text-align: center;
        color: #ffffff;
        transform: translateY(50%);
        transition: transform .5s ease;
    }

    .person:hover .content {
        transform: translateY(0);
        /* transition: transform .5s ease; */
    }

    .person .contact a {
        margin: 0 20px;
    }

    .teamSection {
        margin: 0;
    }

    /* .vision {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 2em;
    } */

    .footer-text {
        font-size: small;
    }
}