.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: linear-gradient(to bottom right, rgb(253, 0, 0), rgb(48, 3, 3)); */
    background-color: #000000;
    color: white;
    scroll-behavior: smooth;
    overflow-x: clip;
}

.navbar {
    background-color: #000000;
    /* position: fixed;
    top: 0; */
}

.navbar div a {
    border-radius: 10px;
    padding: 10px;
}

.navbar a {
    border-bottom: 2px solid transparent;
    margin: 0 10px;
}

#navbarNav a:hover {
    border-bottom: 2px solid #F28705;
}

.navbar-brand img {
    width: 9rem;
    height: 3rem;
}

#AgnirathImages img,
#teamImages img {
    border-radius: 2em;
    /* width: 100%;
    height: 100%; */
}

/* .vision {
    border: 2px solid white;
    height: 200px;
} */

div .competitions {
    width: 300px;
    height: 200px;
    background-color: yellow;
    transform: skewX(50deg);
    margin-right: 25px;
}

div .competitions p {
    margin-left: 100px;
    transform: skewX(-50deg);
    color: black;
}

div .parentSponsor {
    /* border: 2px solid white; */
    height: 300px;
}

div .sponsors {
    width: 300px;
    height: 200px;
    background-color: yellow;
    margin-right: 25px;
}

div .sponsors:nth-of-type(1n) {
    align-self: flex-start;
}

div .sponsors:nth-of-type(2n) {
    align-self: flex-end;
}

#teamImages img {
    height: 600px;
}

.FooterLogos .IITM,
.FooterLogos .CFI,
.FooterLogos .Agnirath {
    width: 4em;
    height: 4em;
}

.FooterLogos .CFI {
    width: 5.5em;
}

.FooterLogos .Agnirath {
    width: 10em;
}

.Linkedin,
.Twitter,
.Instagram,
.Mail {
    width: 2em;
    height: 2em;
    transition: 1s;
}

.Linkedin:hover,
.Twitter:hover,
.Instagram:hover,
.Mail:hover {
    padding: .2em;
    color: #f07510;
    transition: 1s;
}

/* #competitions,
#sponsors {
    max-width: 100%;
} */

/* #About .about {
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
} */



/********************************************************* Logo CSS **************************************************/
.AboutLogo {
    margin-left: 1em;
    height: 120px;
    width: 300px;
}

.visionLogo {
    margin-left: 1em;
    height: 100px;
    width: 300px;
}

.teamLogo {
    margin-left: 1em;
    height: 120px;
    width: 300px;
}

.competitionsLogo {
    margin-left: 1em;
    height: 120px;
    width: 300px;
}

.sponsorsLogo {
    margin-left: 1em;
    height: 100px;
    width: 300px;
}

.contactLogo {
    margin-left: 1em;
    height: 120px;
    width: 300px;
}

/* moving the arrow icons to right and left */
.carousel-control-next-icon {
    margin-left: 10em;
}

.carousel-control-prev-icon {
    margin-right: 10em;
}

.contact-email {
    text-decoration: none;
    color: #f07510;
    transition: .5s;
}

.mobile-css {
    display: none;
}

@media screen and (max-width: 978px) {
    .App {
        display: none;
    }

    .mobile-css {
        display: block;
    }

    .mobile-css {
        text-align: center;
        padding: 5em 2em;
    }
}